/* CFN Main Style 

Table of Contents

00.Variables and Imports
01.Base
02.Buttons
03.Navbar
*/

/* 00.Variables and Imports */
$navbar-height: 57px;
$navbar-height-xs: 70px;
$navbar-height-md: 80px;
$navbar-height-lg: 90px;

$main-margin: 60px;
$main-margin-lg: 50px;
$main-margin-md: 40px;
$main-margin-xs: 15px;

$app-menu-width: 280px;

$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;
$border-radius-rounded: 0.75rem;

$theme-color-purple-monster: #922c88;
$theme-color-blue-navy: #00365a;
$theme-color-blue-yale: #145388;
$theme-color-blue-olympic: #008ecc;
$theme-color-green-moss: #576a3d;
$theme-color-green-lime: #6fb327;
$theme-color-orange-carrot: #ed7117;
$theme-color-red-ruby: #900604;
$theme-color-yellow-granola: #c0a145;
$theme-color-grey-steel: #48494b;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

#root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  color: $primary-color;
  background: #fff;
}

.fixed-background {
  background: url('/assets/img/login/balloon-lg.jpg') no-repeat center center
    fixed;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1 {
  font-size: 1.75rem;
  padding-bottom: 10px;
  display: inline-block;

  @include respond-below(sm) {
    font-size: 1.3rem;
    padding-top: 0.5rem;
  }
}

//03:navbar
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  padding: 10px 0;
  z-index: 9;
}
.navbar-right {
  flex-basis: 40%;
  text-align: right;

  .user {
    margin-right: $main-margin;

    @include respond-below(xl) {
      margin-right: $main-margin-lg;
    }

    @include respond-below(lg) {
      margin-right: $main-margin-md;
    }

    @include respond-below(sm) {
      margin-right: $main-margin-xs;
    }
  }
}
