/* CFN Main Style 

Table of Contents

00.Variables and Imports
01.Base
03.Navbar
04:banner
05:register
06:footer
07:aboutContent
08:contactorContent
09:faqContent
10:contactContent
11:loginContent
14:manageAccountNeedFill
*/

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

#root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #fff;
  text-align: left;
}

//03:navbar
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  padding: 10px 0;
  z-index: 9;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  button {
    @include respond-below(md) {
      border: none;
      &:focus {
        outline: 0;
      }
    }
  }
}
.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.signin {
  margin-right: 6px;
}
.mobile_logo {
  @include respond-below(md) {
    display: inline-block !important;
    float: left;
  }
}
.header_account {
  @include respond-below(md) {
    flex: none;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  li {
    list-style-type: none;
    display: inline-block;
    a {
      font-size: 14px;
      color: #000;
      padding: 10px 25px;
      @include respond-below(md) {
        line-height: 95px;
      }
      img {
        padding-right: 6px;
      }
    }
  }
  li.signin a {
    background-color: #f5f8fb;
  }
  li.signup a {
    background-color: #f5d87e;
  }
}
.mobile-dropdown {
  @include respond-below(md) {
    top: 0px;
    z-index: 10000;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
    max-width: 100%;
    background-color: rgb(227, 231, 242);
    position: absolute !important;
    margin-top: 50px !important;
  }
}
//04:banner
.banner-section {
  position: relative;
  background-image: url('/assets/images/main_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  @include respond-below(sm) {
    min-height: 580px;
    background-position: center;
  }
  .tab-content {
    h6 {
      font-size: 20px;
      font-weight: 800;
      color: #765a4e;
      margin: 40px 0 15px;
    }
    p {
      font-size: 18px;
      color: #765a4e;
      line-height: 32px;
    }
  }
}
.banner-section-min {
  min-height: 410px;
}
.main_banner_text {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0px 130px;
  .nav-pills {
    display: flex;
  }
  .need-dropdown > button,
  .need-dropdown > button:focus {
    color: #fff;
    background-color: #85b200;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Allerta', sans-serif !important;
    padding: 6px 40px;
    border-radius: 0;
    margin: -28px 5px 0;
    -webkit-box-shadow: 5px 5px 10px 0px #808080;
    box-shadow: 5px 5px 10px 0px #808080;
    border: none;
  }
  .need-dropdown div.dropdown-menu {
    background-color: #85b200;
  }

  .need-dropdown .dropdown-item {
    background-color: #85b200;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff !important;
    white-space: nowrap;
    font-size: 18px;
  }
  .have-dropdown > button,
  .have-dropdown > button:focus {
    color: #fff;
    background-color: #d9a300;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Allerta', sans-serif !important;
    padding: 6px 40px;
    border-radius: 0;
    margin: -28px 5px 0;
    -webkit-box-shadow: 5px 5px 10px 0px #808080;
    box-shadow: 5px 5px 10px 0px #808080;
    border: none;
  }
  .have-dropdown div.dropdown-menu {
    background-color: #d9a300;
  }

  .have-dropdown .dropdown-item {
    background-color: #d9a300;
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #ffffff !important;
    white-space: nowrap;
    font-size: 18px;
  }
}

.banner-section-min .main_banner_text {
  padding: 0 0px 50px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.dirt-section {
  padding-bottom: 80px;
  .need_dirt {
    padding-right: 30px;
    .dirt_heading_custom {
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      margin-top: -105px;
      @include respond-below(lg) {
        margin-top: -65px;
      }
      @include respond-below(md) {
        margin-bottom: 15px;
        margin-top: -45px;
      }
      @include respond-below(xs) {
        margin-bottom: 15px;
        margin-top: 25px;
      }
      img {
        max-height: 110px;
        @include respond-below(lg) {
          max-height: inherit;
          width: 100%;
        }
      }
      h2 {
        position: absolute;
        top: 25px;
        text-align: center;
        float: left;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 34px;
        font-family: 'Allerta', sans-serif !important;
        span.green_text {
          color: #85b200;
        }
        @include respond-below(lg) {
          top: 25px;
          font-size: 25px;
        }
        @include respond-below(md) {
          top: 15px;
          font-size: 22px;
        }
        @include respond-below(sm) {
          top: 10px;
          font-size: 18px;
        }
      }
    }
    .dirt_block {
      float: left;
      width: 100%;
      background-color: #f5f9eb;
      padding: 30px 35px;
      border-radius: 10px;
      margin: 1px 0;
      h6 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0px;
        color: #444;
        line-height: 23px;
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 23px;
        span {
          font-weight: 800;
        }
      }
    }
    .more_dirt_link {
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        color: #61523f;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .have_dirt {
    padding-left: 30px;
    .dirt_heading_custom {
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      margin-top: -105px;
      @include respond-below(lg) {
        margin-top: -65px;
      }
      @include respond-below(md) {
        margin-bottom: 15px;
        margin-top: -45px;
      }
      img {
        max-height: 110px;
        @include respond-below(lg) {
          max-height: inherit;
          width: 100%;
        }
      }
      h2 {
        position: absolute;
        top: 25px;
        text-align: center;
        float: left;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 34px;
        font-family: 'Allerta', sans-serif !important;
        span.orange_text {
          color: #d9a300;
        }
        @include respond-below(lg) {
          top: 25px;
          font-size: 25px;
        }
        @include respond-below(md) {
          top: 15px;
          font-size: 22px;
        }
        @include respond-below(sm) {
          top: 10px;
          font-size: 18px;
        }
      }
    }
    .dirt_block {
      float: left;
      width: 100%;
      background-color: #fcf8eb;
      padding: 30px 35px;
      border-radius: 10px;
      margin: 1px 0;
      h6 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0px;
        color: #444;
        line-height: 23px;
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 23px;
        span {
          font-weight: 800;
        }
      }
    }
    .more_dirt_link {
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        color: #61523f;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
.dirt_heading {
  padding-bottom: 20px;
  h2 {
    color: #76594c;
    font-size: 34px !important;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
  }
}
//05:register
.registration_block {
  background-image: url(/assets/images/bottom_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 90px;
  p {
    color: #fff;
    font-size: 26px;
    max-width: 1100px;
    margin: 0 auto 40px;
    line-height: 42px;
    @include respond-below(md) {
      font-size: 20px;
      line-height: 35px;
      padding: 0 20px;
    }
    @include respond-below(sm) {
      font-size: 18px;
      margin: 0 auto 30px;
      line-height: 30px;
    }
  }
  a {
    font-weight: 700;
    color: #52433b;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;
    @include respond-below(md) {
      font-size: 16px;
    }
    @include respond-below(sm) {
      padding: 8px 20px;
      font-size: 16px;
    }
  }
}
//06:footer
.footer-main {
  padding: 40px 0 50px;
}
.footer_copyright ul {
  padding: 0;
}
.footer_copyright li:nth-child(2) {
  border-right: 1px solid #5f523f;
  border-left: 1px solid #5f523f;
  line-height: 14px;
}
.footer_copyright li,
.footer_copyright ul li a {
  color: #5f523f;
  font-size: 14px;
}

.footer_copyright li {
  padding: 0 10px;
  display: inline-block;
}
//07:aboutContent
.about-content-section {
  a {
    color: #d9a300;
  }
}
.about-img {
  img {
    width: 100%;
  }
}
//08:contactorContent
.mt-40 {
  margin-top: 40px;
}
.pb-80 {
  padding-bottom: 80px;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-30 {
  width: 30%;
}
.contractor-content-section {
  img {
    width: 23px;
    margin-bottom: -6px;
  }
  .page_listing {
    float: left;
    width: 100%;
    ul {
      padding: 0;
      margin: 0;
      float: left;
      width: 100%;
      li {
        display: inline-block;
        list-style-type: none;
        text-align: center;
        font-size: 14px;
        color: #fff;
        font-weight: 600;
      }
      li.fill_type {
        text-align: left;
        padding-left: 30px;
      }
    }

    .container {
      max-width: 1140px !important;
      .listing_header {
        background-image: url(/assets/images/listing_header_bg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 15px 0;
        margin-bottom: 5px;
        margin-top: 50px;
        span {
          padding-right: 10px;
          vertical-align: text-bottom;
        }
      }
      .listing_content {
        background-color: #f8f8f8;
        padding: 25px 25px 0;
        margin-bottom: 80px;
        .list {
          background-color: #fff;
          margin-bottom: 25px;
          padding: 20px 0;
          box-shadow: 0px 2px 5px 2px #eee;
          img {
            border: 0;
          }
          &:hover {
            background-color: #f0f0e0;
            transition: 0.4s;
          }
        }

        li {
          border-right: 1px solid #cecebf;
          line-height: 16px;
          min-height: 32px;
          vertical-align: middle;
          color: #212529;
          font-weight: normal;
        }
        li:last-child {
          border-right: 0;
        }
        .list_pagination {
          text-align: center;
          margin-bottom: 40px;
          margin-top: 10px;
          ul {
            text-align: center;
          }
        }
      }
    }
  }
  .page_listing_medium ul li:first-child {
    width: 8%;
  }
  .list_pagination ul li a {
    display: inline-block;
    width: 28px;
    height: 25px;
    border-radius: 4px;
    line-height: 25px;
    color: #000;
    text-decoration: none;
    background: #1e5799;
    background: -moz-linear-gradient(
      top,
      #1e5799 0%,
      #edebea 0%,
      #dcd8d6 100%,
      #dddad8 100%
    );
    background: -webkit-linear-gradient(
      top,
      #1e5799 0%,
      #edebea 0%,
      #dcd8d6 100%,
      #dddad8 100%
    );
    background: linear-gradient(
      to bottom,
      #1e5799 0%,
      #edebea 0%,
      #dcd8d6 100%,
      #dddad8 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#dddad8',GradientType=0 );
  }
}
//09:calculatorContent
.custom_headein_h2 {
  color: #76594c;
  font-size: 24px !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  border-bottom: 1px solid #76594c;
  margin-bottom: 40px;
  padding-bottom: 12px;
}
.btn-success {
  background-color: #85b200;
  border-color: #85b200;
  padding-left: 30px;
  padding-right: 30px;
}
.calculator-content-section {
  .second-parag {
    font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular;
  }
  .shadow_custom {
    box-shadow: 2px 2px 4px 4px #f8f8f8;
    padding: 40px 50px;
  }

  .btn {
    margin-top: 10px;
  }
  .btn-danger {
    background-color: #d9a300;
    border-color: #d9a300;
    padding-left: 30px;
    padding-right: 30px;
  }
  .invisible {
    display: none;
  }
}
//10:contactContent
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.color-ff0000 {
  color: #ff0000;
}
.fs-27 {
  font-size: 27px;
}
.w-304 {
  width: 304px;
}
.h-78 {
  height: 78px;
}
.g-recaptcha-response {
  width: 250px;
  height: 40px;
  border: 1px solid rgb(193, 193, 193);
  margin: 10px 25px;
  padding: 0px;
  resize: none;
  display: none;
}
//11:loginContent
.login-content-section {
  a {
    color: #d9a300;
  }
  a:hover {
    color: #b18500;
  }
}
.pb-10 {
  padding-bottom: 10px;
}
//12:appMenuContent
.app-menu-section-content {
  border-bottom: 10px solid #a89170;
  .row_custom {
    margin-top: 15px;
  }
  .row_custom .active,
  .row_custom div:hover {
    background-color: #a89170;
  }
  .row_custom div {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .row_custom .active a,
  .row_custom div:hover a {
    color: #fff;
  }
  .row_custom a {
    color: #000;
    float: left;
    font-size: 14px;
  }
  .row_custom img {
    margin-right: 10px;
    float: left;
    margin-top: 10px;
  }
}
//13:manageAccount
.mb-20 {
  margin-bottom: 20px;
}
.mr-25 {
  margin-right: 25px;
}
.w-100-imp {
  width: 100% !important;
}
.dirt-section {
  margin-top: 40px;
  .new_style {
    border: 1px solid #fff;
    h3 {
      margin-bottom: 50px;
    }
  }
  .new_style h3 img,
  .new_style h3 a {
    float: left;
  }
  .new_style h3 a {
    margin-left: 15px;
    font-weight: bold;
    color: #4d3b33;
    font-size: 22px;
  }
  .new_style h3 p {
    font-size: 12px;
    font-weight: normal;
  }
  .clear-left {
    clear: left;
  }
  .id_filltype {
    font-size: 20px;
    background-color: #a89170;
    text-align: left;
    color: #fff;
    font-weight: bold;
    margin-top: 27px;
    padding: 10px 0 10px 40px;
    cursor: pointer;
  }
  .new_style label {
    color: #4e3c34;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
  }
  .new_style .form-control {
    border-radius: 0px;
    border-left: 1px solid #999999;
    border-top: 1px solid #999999;
    font-size: 14px;
    color: #a0a0a0;
    height: 45px;
  }
  .new_style h3 p i,
  .error_ {
    color: #ff0000;
  }
}
//14:manageAccountNeedFill
.id_filltype_cont {
  padding: 5px 10px 60px 40px;
  background-color: #f9efd4;
  p {
    font-size: 12px;
    line-height: 50px;
  }
  h4 {
    font-size: 28px;
    color: #4c3a33;
    margin-bottom: 15px;
    img {
      margin-right: 15px;
    }
  }
}
.id_fill1_cont label,
.id_fill2_cont label,
.id_fill3_cont label,
.id_fill4_cont label,
.id_fill5_cont label,
.id_btype_cont label {
  margin-left: 30px;
}
.new_style .bot_add {
  font-size: 12px;
}
.new_style .btn {
  border-radius: 0px;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 65px;
}

.id_fill1,
.id_fill2,
.id_fill3,
.id_fill4,
.id_fill5 {
  cursor: pointer;
}
//15:accountManageHaveFill
.payment_info h2 span {
  width: 99%;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #000;
  font-weight: bold;
  border-bottom: #c6dbb0 solid 2px;
  padding: 0 0 14px 4px;
}
.payment_info h3.select_step {
  color: #000;
  background: url(/assets/images/step_sel.jpg) top center no-repeat;
}
.payment_info h3 {
  font-size: 11px;
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  color: #666666;
  float: left;
  margin: 0 3% 0 4px;
  padding-top: 14px;
}
.payment_info_data {
  width: 100%;
  float: left;
  padding-top: 45px;
}
.btn-primary {
  padding-left: 30px;
  padding-right: 30px;
}
.btn {
  margin-top: 10px;
}
