/* CFN Main Style 

Table of Contents

00.Variables and Imports
01.Base
03.Navbar
04:banner
*/

/* 01.Base */
html {
  width: 100%;
  height: 100%;
  background: $background-color;
}

#root {
  height: 100%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background: #fff;
  text-align: left;
}

//03:navbar
.header-main {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100%;
  padding: 10px 0;
  z-index: 9;
}
.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  button {
    @include respond-below(md) {
      border: none;
      &:focus {
        outline: 0;
      }
    }
  }
}
.navbar-nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.signin {
  margin-right: 6px;
}
.mobile_logo {
  @include respond-below(md) {
    display: inline-block !important;
    float: left;
  }
}
.header_account {
  @include respond-below(md) {
    flex: none;
  }
  ul {
    margin: 0;
    padding: 0;
    text-align: right;
  }
  li {
    list-style-type: none;
    display: inline-block;
    a {
      font-size: 14px;
      color: #000;
      padding: 10px 25px;
      @include respond-below(md) {
        line-height: 95px;
      }
      img {
        padding-right: 6px;
      }
    }
  }
  li.signin a {
    background-color: #f5f8fb;
  }
  li.signup a {
    background-color: #f5d87e;
  }
}
.mobile-dropdown {
  @include respond-below(md) {
    top: 0px;
    z-index: 10000;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;
    max-width: 100%;
    background-color: rgb(227, 231, 242);
    position: absolute !important;
    margin-top: 50px !important;
  }
}
//04:banner
.banner-section {
  position: relative;
  background-image: url('/assets/images/main_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  @include respond-below(sm) {
    min-height: 580px;
    background-position: center;
  }
  .tab-content {
    h6 {
      font-size: 20px;
      font-weight: 800;
      color: #765a4e;
      margin: 40px 0 15px;
    }
    p {
      font-size: 18px;
      color: #765a4e;
      line-height: 32px;
    }
  }
}
.main_banner_text {
  position: absolute;
  bottom: 0;
  left: 0;
  float: left;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0 0px 130px;
  .nav-pills {
    display: flex;
  }
  .need-dropdown button {
    color: #fff;
    background-color: #85b200;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Allerta', sans-serif !important;
    padding: 6px 40px;
    border-radius: 0;
    margin: -28px 5px 0;
    -webkit-box-shadow: 5px 5px 10px 0px #808080;
    box-shadow: 5px 5px 10px 0px #808080;
    border: none;
  }
  .have-dropdown button {
    color: #fff;
    background-color: #d9a300;
    font-size: 28px;
    font-weight: 600;
    font-family: 'Allerta', sans-serif !important;
    padding: 6px 40px;
    border-radius: 0;
    margin: -28px 5px 0;
    -webkit-box-shadow: 5px 5px 10px 0px #808080;
    box-shadow: 5px 5px 10px 0px #808080;
    border: none;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

.dirt-section {
  padding-bottom: 80px;
  .need_dirt {
    padding-right: 30px;
    .dirt_heading_custom {
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      margin-top: -105px;
      @include respond-below(lg) {
        margin-top: -65px;
      }
      @include respond-below(md) {
        margin-bottom: 15px;
        margin-top: -45px;
      }
      @include respond-below(xs) {
        margin-bottom: 15px;
        margin-top: 25px;
      }
      img {
        max-height: 110px;
        @include respond-below(lg) {
          max-height: inherit;
          width: 100%;
        }
      }
      h2 {
        position: absolute;
        top: 25px;
        text-align: center;
        float: left;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 34px;
        font-family: 'Allerta', sans-serif !important;
        span.green_text {
          color: #85b200;
        }
        @include respond-below(lg) {
          top: 25px;
          font-size: 25px;
        }
        @include respond-below(md) {
          top: 15px;
          font-size: 22px;
        }
        @include respond-below(sm) {
          top: 10px;
          font-size: 18px;
        }
      }
    }
    .dirt_block {
      float: left;
      width: 100%;
      background-color: #f5f9eb;
      padding: 30px 35px;
      border-radius: 10px;
      margin: 1px 0;
      h6 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0px;
        color: #444;
        line-height: 23px;
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 23px;
        span {
          font-weight: 800;
        }
      }
    }
    .more_dirt_link {
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        color: #61523f;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .have_dirt {
    padding-left: 30px;
    .dirt_heading_custom {
      position: relative;
      float: left;
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
      margin-top: -105px;
      @include respond-below(lg) {
        margin-top: -65px;
      }
      @include respond-below(md) {
        margin-bottom: 15px;
        margin-top: -45px;
      }
      img {
        max-height: 110px;
        @include respond-below(lg) {
          max-height: inherit;
          width: 100%;
        }
      }
      h2 {
        position: absolute;
        top: 25px;
        text-align: center;
        float: left;
        width: 100%;
        color: #fff;
        font-weight: 600;
        font-size: 34px;
        font-family: 'Allerta', sans-serif !important;
        span.orange_text {
          color: #d9a300;
        }
        @include respond-below(lg) {
          top: 25px;
          font-size: 25px;
        }
        @include respond-below(md) {
          top: 15px;
          font-size: 22px;
        }
        @include respond-below(sm) {
          top: 10px;
          font-size: 18px;
        }
      }
    }
    .dirt_block {
      float: left;
      width: 100%;
      background-color: #fcf8eb;
      padding: 30px 35px;
      border-radius: 10px;
      margin: 1px 0;
      h6 {
        font-size: 16px;
        font-weight: 800;
        margin-bottom: 0px;
        color: #444;
        line-height: 23px;
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        line-height: 23px;
        span {
          font-weight: 800;
        }
      }
    }
    .more_dirt_link {
      float: left;
      width: 100%;
      text-align: center;
      padding-top: 20px;
      a {
        color: #61523f;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
//05:register
.registration_block {
  background-image: url(/assets/images/bottom_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 90px;
  p {
    color: #fff;
    font-size: 26px;
    max-width: 1100px;
    margin: 0 auto 40px;
    line-height: 42px;
    @include respond-below(md) {
      font-size: 20px;
      line-height: 35px;
      padding: 0 20px;
    }
    @include respond-below(sm) {
      font-size: 18px;
      margin: 0 auto 30px;
      line-height: 30px;
    }
  }
  a {
    font-weight: 700;
    color: #52433b;
    text-transform: uppercase;
    background-color: #fff;
    border-radius: 4px;
    padding: 10px 30px;
    display: inline-block;
    font-size: 18px;
    @include respond-below(md) {
      font-size: 16px;
    }
    @include respond-below(sm) {
      padding: 8px 20px;
      font-size: 16px;
    }
  }
}
//06:footer
.footer-main {
  padding: 40px 0 50px;
}
.footer_copyright ul {
  padding: 0;
}
.footer_copyright li:nth-child(2) {
  border-right: 1px solid #5f523f;
  border-left: 1px solid #5f523f;
  line-height: 14px;
}
.footer_copyright li,
.footer_copyright ul li a {
  color: #5f523f;
  font-size: 14px;
}

.footer_copyright li {
  padding: 0 10px;
  display: inline-block;
}
